.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
}

.autocomplete {
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: outset rgba(255, 255, 255, 0.8);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

.filter {
    white-space: nowrap;
}

.filter > mat-icon {
    font-size: 16px;
}

@media (max-width: 776px) {

    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
    
}
  